<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APP_ID</key>
    <string>${APP_ID}</string>
    <key>NSCameraUsageDescription</key>
    <string>我们需要访问摄像头来扫描二维码</string>
</dict>
</plist>
